@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Nav
@implements IAsyncDisposable

<h3>signal blaze</h3>
<p><b>Online Now: @userCount</b></p>
<hr />

<input @bind="userInput" placeholder="Name" />
<input @bind="messageInput" @onkeydown="HandleKeyDown" placeholder="Message" />
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<div id="chat-container">
    <ul>
        @foreach (var msg in messages)
        {
            <li><span class="user-span">@msg.Key:</span> <span class="msg-span">@msg.Value</span></li>
        }
    </ul>
</div>

<style>
    #chat-container {
        max-height: 60vh;
        overflow-y: auto;
    }

    * {
        font-family: "Times New Roman", Times, serif !important;
        font-size: 1.1rem !important;
    }

    h3 {
        font-size: 1.75rem !important;
    }

    input, button {
        padding: 5px 5px !important;
    }

    html body {
        background-color: #201533;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #0ce6f2;
    }

    p {
        color: #ffffff;
    }

    .user-span {
        color: #0098db;
    }
    .msg-span {
        color: #ffffff;
    }

</style>

@code {
    private HubConnection? hubConnection;
    private List<KeyValuePair<string, string>> messages = new();
    private string? userInput;
    private string? messageInput;
    private int userCount = 0;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // 1. Build the connection
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Nav.ToAbsoluteUri("/chathub"))
            .Build();

        // Listen for the user count update
        hubConnection.On<int>("ReceiveUserCount", (count) =>
        {
            userCount = count;
            InvokeAsync(StateHasChanged);
        });



        // 2. Define what happens when a message is received
        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            messages.Add(new KeyValuePair<string, string> (user, message));
            InvokeAsync(StateHasChanged); // Refresh the UI
        });

        // 3. Start it up!
        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null &&
        !string.IsNullOrWhiteSpace(userInput) &&
        !string.IsNullOrWhiteSpace(messageInput))
        {
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
            messageInput = ""; // Clear input after sending
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Send();
        }
    }
}
